server:
  port: 8888


spring:
  application:
    name: config-service
  profiles:
    active: native
    include:
      - rabbitmq
      - actuator-config

  cloud:
    config:
      server:
        native:
          search-locations: file:///${user.home}/inflearn-spring-msa-config
        git:
#          uri: file://C:\Users\xh\Documents\inflearn\inflearn-e-commerce-msa-config
          uri: https://github.com/zhyunk/inflearn-e-commerce-msa-config
